---
http_interactions:
- request:
    method: get
    uri: https://archive-api.open-meteo.com/v1/archive?daily%5B%5D=precipitation_hours&daily%5B%5D=sunset&end_date=2023-04-01&latitude=47.61&longitude=-122.33&start_date=2023-04-01&timezone=auto
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":47.600006,"longitude":-122.3,"generationtime_ms":0.8819103240966797,"utc_offset_seconds":-25200,"timezone":"America/Los_Angeles","timezone_abbreviation":"PDT","elevation":72.0,"daily_units":{"time":"iso8601","sunset":"iso8601","precipitation_hours":"h"},"daily":{"time":["2023-04-01"],"sunset":["2023-04-01T19:40"],"precipitation_hours":[11.0]}}'
  recorded_at: Mon, 17 Apr 2023 19:46:55 GMT
recorded_with: VCR 6.1.0
