---
http_interactions:
- request:
    method: get
    uri: https://archive-api.open-meteo.com/v1/archive?daily%5B%5D=precipitation_hours&daily%5B%5D=sunset&end_date=2023-04-11&latitude=33.45&longitude=-112.07&start_date=2023-04-11&timezone=auto
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":33.5,"longitude":-112.1,"generationtime_ms":0.6660223007202148,"utc_offset_seconds":-25200,"timezone":"America/Phoenix","timezone_abbreviation":"MST","elevation":335.0,"daily_units":{"time":"iso8601","sunset":"iso8601","precipitation_hours":"h"},"daily":{"time":["2023-04-11"],"sunset":["2023-04-11T18:57"],"precipitation_hours":[0.0]}}'
  recorded_at: Mon, 17 Apr 2023 19:46:54 GMT
recorded_with: VCR 6.1.0
