---
http_interactions:
- request:
    method: get
    uri: https://archive-api.open-meteo.com/v1/archive?daily%5B%5D=precipitation_hours&daily%5B%5D=sunset&end_date=2023-04-11&latitude=39.74&longitude=-104.98&start_date=2023-04-11&timezone=auto
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.699997,"longitude":-105.0,"generationtime_ms":1.109004020690918,"utc_offset_seconds":-21600,"timezone":"America/Denver","timezone_abbreviation":"MDT","elevation":1612.0,"daily_units":{"time":"iso8601","sunset":"iso8601","precipitation_hours":"h"},"daily":{"time":["2023-04-11"],"sunset":["2023-04-11T19:35"],"precipitation_hours":[0.0]}}'
  recorded_at: Mon, 17 Apr 2023 18:08:18 GMT
recorded_with: VCR 6.1.0
